<h2> All Flights</h2>

<h4> Search by Flights: </h4>
  <%= form_with url: flights_path, method: :get do |form| %>
    <%= form.label :from, 'From', class: 'label'%>
      <%= select_tag :departure_airport_id, options_for_select(@airport_options, params[:departure_airport_id]), include_blank: true, required: true %>
    <%= form.label :to, 'To', class: 'label'%>
      <%= select_tag :arrival_airport_id, options_for_select(@airport_options, params[:arrival_airport_id]), include_blank: true, required: true %>
    <%= form.label :passenger_count, 'Passengers', class: 'label' %>
      <%= select_tag :passenger_count, options_for_select((1..4).map { |i| [i, i]}, params[:passenger_count].to_i) %>
    <%= form.label :date, 'Departure Date', class: 'label' %>
      <%= form.date_field :departure_date, value: params[:departure_date] || Date.today, class: 'input' %>
  <%= form.submit 'Search', class: 'button', id: 'search-button' %>
  <% end %>